/* common shared styles */


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
    margin-left: -30px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    outline: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 618px 420px;


}

.profile-pic {
    margin-bottom: 2px;
}

.banner {
    padding: 30px 30px 00px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner .profile-pic {
    width: 500px;
    margin-bottom: 4px;

}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.descriptions {
    font-size: 18px;
    line-height: 30px;
}

.banner-content {
    max-width: 500px;
}

/* main section start from here */

main {
    max-width: 1150px;
    margin: 0px auto;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* .new topic */

main {
    width: 950px;
    margin: auto;
}

.about-info {
    display: flex;
    gap: 40px;
    justify-content: center;


}

.aboutme {
    color: #181818;
    text-align: center;
    font-size: 35px;
    padding-top: 100px;
}

.aboutme-container {
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 100px;
    height: 550px;
}

.description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin: auto;
    padding: 30px 150px;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
}

.content {
    font-size: 20px;

}

.intend {
    color: #181818;
    text-align: center;
    font-size: 35px;
    padding-bottom: 0;
}

.intend-title {
    color: #757575;
    text-align: center;
}

.intend-container {
    max-width: 700px;
    margin: auto;
}

.boxes {
    max-width: 190px;
    height: 300px;
    background-color: white;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

.box-container {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    gap: 16px;
    padding-top: 85px;
}



.box-description {
    color: #757575;
    font-size: 14px;
}

/* resume section start from here */


.resume-title {
    color: #474747;
    font-size: 30px;
}

.education-title {
    color: #474747;
    font-size: 25px;
}

.education-institute {
    color: #757575;
    font-size: 20px;
}

.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* .left-resume-container { */
/* width: 450px; */
/* height: 350px; */


.titles {
    color: #181818;
    text-align: center;
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.left-container,
.right-container {
    width: 450px;

}

.resume-container {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.download-cv {
    text-align: center;
    padding-top: 60px;
}

/* footer scetion start from here */

.footer-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #FFF8F3;
    margin-top: 110px;
     padding-left: 200px; 
    padding-right: 180px; 
}

.title-name-footer{
    color:#181818;
font-size: 30px;
padding-top: 130px;
}

.footer-title{
 width: 40%;
}

.formss input[type="text"], .formss input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border: none;
    outline: none;
    width: 90%;
}